# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [1]:
import pandas as pd
import numpy as np

In [34]:
nba = pd.read_csv('NBA All Stars 2000-2016 - Sheet1.csv',sep = ',')


avg_wt = nba['WT'].describe()['mean']
print(f" Avg Weight Calc Using .describe(): {avg_wt.round()}")


print(f" \n Avg Weight Calc By Column .mean(): {round(nba['WT'].mean())}")

 Avg Weight Calc Using .describe(): 229.0

 Avg Weight Calc By Column .mean(): 229

# What team is represented the most during this time?

In [70]:
nba.sort_values('Team')
print(f" Team Summary - Miami Heat Was Top with Frequency of 28: \n {nba['Team'].describe()}")

teams = nba.groupby(['Team']).count().sort_values('Year', ascending=False)
teams.head(5)

 Team Summary - Miami Heat Was Top with Frequency of 28:
 count            439
unique            34
top       Miami Heat
freq              28
Name: Team, dtype: object

,Year,Player,Pos,HT,WT,Selection Type,NBA Draft Status,Nationality
Team,,,,,,,,
Miami Heat,28,28,28,28,28,28,28,28
Boston Celtics,26,26,26,26,26,26,26,26
San Antonio Spurs,25,25,25,25,25,25,25,25
Los Angeles Lakers,25,25,25,25,25,25,25,25
Houston Rockets,20,20,20,20,20,20,20,20

# What draft class is represeted the most during this time?

In [69]:
nba.sort_values('NBA Draft Status')
print(f" Draft Status Summary - {nba['NBA Draft Status'].describe()['top']} was the Top Draft Class with Frequency of {nba['NBA Draft Status'].describe()['freq']}: \n {nba['NBA Draft Status'].describe()}")

draft_stat = nba.groupby(['NBA Draft Status']).count().sort_values('Year', ascending=False)
draft_stat.head(5)

 Draft Status Summary - 1996 Rnd 1 Pick 13 was the Top Draft Class with Frequency of 16:
 count                    439
unique                   123
top       1996 Rnd 1 Pick 13
freq                      16
Name: NBA Draft Status, dtype: object

,Year,Player,Pos,HT,WT,Team,Selection Type,Nationality
NBA Draft Status,,,,,,,,
1996 Rnd 1 Pick 13,16,16,16,16,16,16,16,16
2003 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1997 Rnd 1 Pick 1,13,13,13,13,13,13,13,13
1998 Rnd 1 Pick 9,13,13,13,13,13,13,13,13
1995 Rnd 1 Pick 5,12,12,12,12,12,12,12,12

# Are foriegn players more prevalent in the All-Star Game during this time?

In [191]:
nba.sort_values('Nationality')
print(f" Nationality Summary - Players from the {nba['Nationality'].describe()['top']} were most prevalent with Frequency of {nba['Nationality'].describe()['freq']}: \n {nba['Nationality'].describe()}")

teams = nba.groupby(['Nationality']).count().sort_values('Year', ascending=False)
teams.head()

 Nationality Summary - Players from the United States were most prevalent with Frequency of 365:
 count               439
unique               22
top       United States
freq                365
Name: Nationality, dtype: object

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status
Nationality,,,,,,,,
United States,365,365,365,365,365,365,365,365
Germany,13,13,13,13,13,13,13,13
Spain,9,9,9,9,9,9,9,9
Canada\nSouth Africa,8,8,8,8,8,8,8,8
China,8,8,8,8,8,8,8,8

# How often are the Western All-Stars voted in by fans?

In [140]:
# nba.sort_values('Selection Type')
# selection_type = nba.groupby(['Selection Type']).count()
# selection_type


print(f" Number of Times Western All-Stars were Voted in by Fans: {nba.loc[nba['Selection Type'] == 'Western All-Star Fan Vote Selection', 'Selection Type'].count()}")

 Number of Times Western All-Stars were Voted in by Fans: 85

# How many times does Steph Curry make the All-Star game during this time period?

In [180]:
curry = nba[nba['Player'] == 'Stephen Curry']
print(f" Steph Curry All-Star Game Count: {curry.Year.count()} \n")

print(f" \n Steph Curry Summary Stats: \n {nba[nba['Player'] == 'Stephen Curry'].describe()}")

 Steph Curry All-Star Game Count: 4


 Steph Curry Summary Stats:
               Year     WT
count     4.000000    4.0
mean   2014.500000  190.0
std       1.290994    0.0
min    2013.000000  190.0
25%    2013.750000  190.0
50%    2014.500000  190.0
75%    2015.250000  190.0
max    2016.000000  190.0

# How many Shooting Gaurds have made the All-Star game during this time?

In [185]:
print(f" Count of Shooting Guards in All-Star Games: {nba[nba['Pos'] == 'SG']['Player'].count()}")

 Count of Shooting Guards in All-Star Games: 57

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [197]:
print(f" Count of Chicago Bulls' Players in All-Star Games: {nba[nba['Team'] == 'Chicago Bulls']['Player'].count()}")

# nba.groupby(['Team']).count()

 Count of Chicago Bulls' Players in All-Star Games: 12